<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testone">

    <uses-permission android:name="androTid.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="仓库管理"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Allstorage"></activity>
        <activity android:name=".updatesupplier" />
        <activity android:name=".Allsupplier" />
        <activity android:name=".Regist" />
        <activity android:name=".CangKuSearch" />
        <activity android:name=".Addsupplier" />
        <activity android:name=".GoodOut" />
        <activity android:name=".goodcome" />
        <activity android:name=".userupdate" />
        <activity android:name=".Main2Activity_01" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>